*, 
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 85%;
    background-image: url(../../assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: "Charlie Sans", sans-serif;
    background: var(--black);
}

.status-notification-terminated {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: rgb(48, 136, 59);
    margin-right: 5px;
}

.status-notification-ongoing {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: rgb(218, 103, 37);
    margin-right: 5px;
}

.status-notification-dontdid {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: rgb(206, 48, 48);
    margin-right: 5px;
}

.status-notification-gived {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: rgb(41, 41, 41);
    margin-right: 5px;
}